<div class='container'>
  <div class="row blog justify-content-center">
    <% if @blogs.count == 0 %>
      <div class = 'no-hit '>
        <p>日記は見つかりません</p>
      </div>
    <% else %>
      <%= render @blogs %>
    <% end %>
  </div>
</div>
