<div class="top">
  <% if user_signed_in?%>
  <div class="header-margin page-heading text-center">
    New blogs
  </div>
  <div class='container'>
    <div class="blog">
      <% if @blogs.count == 0 %>
        <div class='no-hit text-center'>
          <p>No data</p>
        </div>
      <% else %>
          <%= render @blogs %>
      <% end %>
    </div>
    <div class="footer-margin">
      <%= paginate @blogs %>
    </div>
  </div>
  <% else %>

  <video id="bg-video" src="/videos/training.mp4" autoplay loop muted></video>
    <div class="header-title">
      <p>
        Let's record<br> on this<br>
        Big3Blog.
      </p>
    </div>
    <p class='explanation'>
      With this app, you can keep track of your body weight, bench press, deadlift, squat, and post your training records as a blog.
    </p>
    <div class='link'>
      <%= link_to "Log in", new_user_session_path, class: "nav-link active" %></li>
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %>
    <div>
  <% end %>
</div>
