<div class='top-page'>
  <div class="wrap">
  <video id="bg-video" src="/videos/training.mp4" poster="men.jpg" autoplay loop muted></video>
    <div class="header-title">
      <p>
        Let's record<br> on this<br>
        Big3Blog.
      </p>
    </div>
  </div>
  <p class='explanation'>
    このアプリで、体重、ベンチプレス、デッドリフト、スクワットの記録をつけることができ、トレーニングの記録をブログとして投稿することができます。
  </p>
  <div class='link'>
    <%= link_to "Log in", new_user_session_path, class: "nav-link active" %></li>
    <%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %>
  <div>
<div>
