<div class=''>
  <div class=''>
    <div class=''>
      <div id ="video" class="video-content embed-responsive embed-responsive-16by9">
        <%= video_tag("/videos/training.mp4", autoplay: :true, loop: :true, muted: :true, class: 'embed-responsive-item ') %>
      <div class="sub">
        <div class="new-blogs text-center">
          New blogs
        </div>
        <div class="d-flex flex-row top-blog-lists col-xs-12">
          <% if @blogs.count == 0 %>
            <div class = 'no-hit '>
              <p>日記は見つかりません</p>
            </div>
          <% else %>
            <%= render @blogs %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
