/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */

select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}



// フラッシュメッセージ //
#flash-message{
  position: fixed;

  width: 100%;
  z-index: 1000;
}

// ページネーション
.pagination {
  justify-content: center;
}

//フォーム関連//
.form-wrapper{
  background-color: #e0e0e0;
  padding: 1em;
  border-radius: 1em;
}

.signup-form {
  margin: 80px 0 0 15px;
}

.to-login {
  margin-bottom: 40px;
}

.login-form {
  margin: 80px 0 0 15px;
}

.blog-new-form {
  margin: 80px 0 0 15px;
}

.blog-edit-form {
  margin: 80px 0 0 15px;
}

.form-wrap {
  width: 95%;
}

.form-header-text {
  font-weight: bold;
  font-size: 30px;
}

.input-default {
  border-color: black;
}

.with {
  font-weight: bold;
  margin-bottom: 40px;
}

.post-btn:hover {
  font-weight: bold;
}

.save-btn:hover {
  font-weight: bold
}

.indispensable {
  color: red;
}


// ヘッダー
.header {
  position: fixed;
  top: 0;
  opacity: 0.7;
  width: 100%;
  z-index:1000;
}

.nav-link:hover {
  font-weight: bold;
}

.dropdown-item:hover {
  font-weight: bold;
  opacity: 0.9;
}

// フッター
.footer {
  padding: 5px;
  font-size: 15px;
  opacity: 0.7;
  z-index:1000;
}


#bg-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.header-title{
  display: flex;
  width: 50%;
  justify-content: center;
  text-align:center;
  margin: auto;
  margin-top: 145px;
  font-size: 89px;
  color:white;
}



.explanation {

  z-index: 2;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin: auto;
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color:white;
}

.link {
  position: relative;
  z-index: 2;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin: auto;
  margin-top: 40px;
  font-size: 60px;
  font-weight: bold;
  color:white;
  margin-bottom: 200px;
}

// ユーザー詳細ページ
.top-wrapper {
  margin-top: 100px;
  text-align: center;
}

.my-edit-btn {
  margin: 10px 0;
}

.my-page-title {
  font-weight: bold;
  font-size: 30px;
}

.weight-wrapper {
  margin-top: 20px;
  line-height: 60px;
}

.weight-box {
  border: solid;
  margin: 0px;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
}

.big3-weight-box {
  margin-bottom: 10px;
  border: solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
}


.big3-heading {
  font-size: x-large;
  font-weight: bold;
}

.record {
  font-size: xx-large;
}

.body-weight-color {
  background-color: white;
}

.big3-color {
  background-color: white;
}

.bench-press-color {
  background-color:white;
}

.dead-lift-color {
  background-color: white;
}

.squat-color {
  background-color: white;
}

.blogs {
  margin-bottom: 10px;
}

.footer-margin {
  margin-top: 10px;
  margin-bottom: 50px;
}

.page-heading {
  font-weight: bold;
  font-size: x-large;
  margin: 25px 0 10px 0;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.no-hit {
  width: 100%;
  text-align: center;
}

.comment-form {
  margin-bottom: 50px;
}

// ユーザー編集ページ
.user-edit-form {
  margin: 130px 0 0 40px;
}

// ブログ関係
.new-blogs-title {
  font-size: 40px;
  text-align: center;
}

// ブログ作成
.menu {
  margin-top: 15px;
}

.btn-group {
  margin-bottom: 50px;
}

.image-tag {
  margin-bottom: 20px;
}

.image_form{
  display: none;
}

// ブログ詳細
.blog-show {
  margin-top: 100px;
}

.show-blog-title {
  font-weight: bold;
  font-size: xx-large;
}

.bold {
  font-weight: bold;
}

.target_site {
  margin-top: 30px;
}

.show-content {
  margin: 10px auto;
}

.show-img {
  margin: 20px 0;
}

.header-margin {
  margin-top: 100px;
}

.comment-form {
  margin-top: 20px;
}

.orchid {
  background-color: whitesmoke;
  width: 50%;
  margin-bottom: 10px;
}

//ボタンの設定//
.btn-default{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 1em;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0s;
  outline: 0;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.btn-default2{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0s;
  outline: 0;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.blue-btn{
  color: #fff;
  background-color: hsl(192, 81%, 68%);
  border-color: hsl(192, 81%, 68%);
  font-weight: bold;
  border-radius: 10px;
  &:hover{
    background-color: lighten(hsl(192, 81%, 68%), 3%);
    border-color: lighten(hsl(192, 81%, 68%), 3%);
    color: #fff;
    box-shadow: 0px 0px 3px black;
  }
  &:active{
    box-shadow: 0px 0px 0px black;
    transform: scale(0.95);
  }
}

.login-btn, .register-btn, .blog-btn, .user-edit-btn, .edit-btn {
  background-color: rgb(63, 63, 63);
  border-radius: 5px;
  color: white;
}

.blog-btn:hover {
  font-weight: bold;
  color: rgb(0, 140, 255);
}

.edit-btn:hover {
  color: green;
}

// weight管理
.weight-new-form{
  width: fit-content;
  background-color: white;
  margin: 20% auto;
  font-size: 1.5em;
}
.chart-wrapper{
  margin-top: 2em;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.chart-btn-group{
  display: flex !important;
}
.weight-chart{
  opacity :0 ;
  &.active {
    opacity: 1;
    z-index: 3;
  }
}
.chart-box {
  position: relative;
  height: 400px;
  margin-top: 1em;
}
.chart-label{
  opacity: 0.5;
}
.daily-chart{
  width: 100%;
  position: absolute;
}

.weekly-chart{
  width: 100%;
  position: absolute;
}

.monthly-chart{
  width: 100%;
  position: absolute;
}
.table-wrapper{
  margin-top: 2em;
}
.weight-table-wrapper{
  margin: auto;
  background: rgb(221, 224, 226);
  border-radius: 1em;
  padding: 1em;
}
.next-back{
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin: auto;
}
.weight-table{
  font-size: 1.3em;
  margin: auto;
  width: 100%;
}
.weight-edit-form{
  text-align: center;
  &:hover{
    background: #fffefe;
    border-radius: 5px;
    & .weight-edit-field{
      background-color: #fff;
      border-style: outset;
      border-radius: 5px;
    }
    & .weight-edit-btn{
      display: inline-block;
    }
  }
}
.weight-edit-field{
  position: relative;
  width: 5em;
  border-style: none;
  text-align: center;
  background-color: transparent;
  z-index: 2;
  &:focus {
    background-color: #fff;
    & ~ .weight-edit-icon {
      display: none;
    }
    & ~ .weight-edit-btn{
      display: inline-block;
    }
  }
}

.weight-edit-icon{
  position: absolute;
  margin-left: -1.5em;
  margin-right: 1em;
  opacity: 0.5;
  z-index: 1;
}
.weight-edit-btn{
  display: none;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.positive-weight{
  color: #4c4cff;
}

.negative-weight{
  color: #ff4d4d;
}

.body-weight-modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.weight-page {
  margin-top: 80px;
  margin-bottom: 60px;
}

.weight-title {
  font-size: 40px;
  font-weight: bold;
}

// プレビュー機能
.preview-img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

// 公開・非公開機能
// .private {
//   padding-top: -5;
//   border-radius: 25px;
// }
